<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.pillsquad.yakssok.feature.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Yakssok.TransparentSystemBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/KAKAO_REDIRECT_URI" />
            </intent-filter>

            <intent-filter  android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="yakssok.onelink.me" />
            </intent-filter>
        </activity>
    </application>
</manifest>